@model DetailsProjectViewModel

@{
    ViewBag.Title = "DetailsOfProject";
}

<h2>Project Details: </h2>
<p><h4><strong>@Model.ProjectName</strong></h4></p>
<p>Created By @Model.UserName</p>
<div class="row">
    <div class="col-md-6">
        <p>Created: @Model.DateCreated</p>
        <p>Updated: @Model.DateUpdated</p>
        <p>Members: @Model.MemberCount</p>
        <p>Tickets: @Model.TicketCount</p>
        <p><h4>Body:</h4> @Model.ProjectDetails</p>
    </div>
</div>

@if (User.IsInRole("Submitter"))
{
    <div>
        @*<a href="@Url.Action("_CreateTicket", "Tickets", new { projectId = Model.Id })">Create Ticket</a>*@

        <a class="@Model.Id" data-toggle="modal" href="#@Model.Id" onclick="ModalContentFetcher()">Create Ticket</a>


        <div id="@Model.Id" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create Ticket</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<div>
    @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
    {
        <a href="@Url.Action("EditAProject", "Main", new { id = Model.Id })">Edit post</a>

        <form method="post" action="@Url.Action("DeleteAProject", "Main", new { id = Model.Id })">
            <a href="#" class="btn-delete danger">Delete</a>
        </form>

        <a class="info" href="@Url.Action("ManageMembers", "Main", new { projectId = Model.Id })">Manage</a>

        <form method="post" action="@Url.Action("ArchiveAProject", "Main", new { id = Model.Id })">
            <a href="#" class="btn-delete" style="color: darkmagenta">Archive</a>
        </form>
    }
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    let responseConvertedObject;
    $(function () {
        $(".btn-delete").on('click', function (e) {
            e.preventDefault();
            $(this).closest('form').submit();
        });
    });


    function ModalContentFetcher() {
        return fetch('../../Tickets/_CreateTicket/?projectId=@Model.Id', {
            method: "Get"
        }).then(
            function(response) {
                if (response.status !== 200) {
                    console.log('Looks like there was a problem. Status Code: ' +
                        response.status);
                    return;
                }
                //console.log(response);

                response.text()/*.json()*/.then(function (data) {
                    //console.log(data);
                    DomAdder(data);
                });
            }
        )
        .catch(function (err) {
                console.log('Fetch Error :-S', err);
        });
    }    

    function DomAdder(element) {
        var domelement = document.querySelector(".modal-body");
        return domelement.insertAdjacentHTML('afterbegin', element);
    }
</script>