@model List<IndexProjectViewModel>

@{
    ViewBag.Title = "Index";
}

@section css {
    <link rel="stylesheet"
          href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
}

@section Scripts {
    <script type="text/javascript"
            src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#project-table').DataTable();
        });
    </script>
}


@if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
{
    <a id="create-project-button" class="btn btn-primary" href="@Url.Action("CreateAProject", "Main")">Create New Project</a>
}


@if (!Model.Any())
{
    <div style="margin-top:15px;">
        <p><strong>No contents to show</strong></p>
    </div>
}
else
{
    <div style="margin-top: 30px;">
        <table id="project-table" class="table table-striped">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Members</th>
                    <th>Tickets</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Created By</th>
                    @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                    {
                        <th></th>
                        <th></th>
                        <th></th>
                    }
                    </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("DetailsOfProject", "Main", new { id = Model[i].Id })">
                                @Model[i].ProjectName
                            </a>
                        </td>
                        <td>@Model[i].MemberCount</td>
                        <td>@Model[i].TicketCount</td>
                        <td>@Model[i].DateCreated</td>
                        <td>@Model[i].DateUpdated</td>
                        <td>@Model[i].UserName</td>

                        @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                        {
                            <td><a href="@Url.Action("EditAProject", "Main", new { id = Model[i].Id })">Edit</a></td>
                            <td>
                                <form method="post" action="@Url.Action("DeleteAProject", "Main", new { id = Model[i].Id })">
                                    <a href="#" class="btn-delete">Delete</a>
                                </form>
                            </td>
                            <td>
                                <a href="@Url.Action("ManageMembers", "Main", new { projectId = Model[i].Id })">Manage</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(function () {
        $(".btn-delete").on('click', function (e) {
            e.preventDefault();
            $(this).closest('form').submit();
        });
    });
</script>