@model ManageProjectMembersViewModel

@{
    ViewBag.Title = "ManageMembers";
}

@section css {
    <link rel="stylesheet"
          href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
}

@section Scripts {
    <script type="text/javascript"
            src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.manage-members-table').DataTable();
        });
    </script>
}

<h2>Manage members of project: @Model.ProjectName</h2>


<h4>Assigned members:</h4>

<table class="manage-members-table table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Roles</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.CurrentMembers.Count(); i++)
        {
            <tr>
                <td>@Model.CurrentMembers[i].NameOfUser</td>
                <td>
                    @if (Model.CurrentMembers[i].Roles.Count() > 0)
                    {
                        var stringRoles = "";
                        for (var j = 0; j < Model.CurrentMembers[i].Roles.Count(); j++)
                        {
                            stringRoles += Model.CurrentMembers[i].Roles[j];
                            if (j != (Model.CurrentMembers[i].Roles.Count() - 1))
                            {
                                stringRoles += ",";
                                stringRoles += " ";
                            }
                        }
                        <span>@stringRoles</span>;
                    }
                </td>

                <td>
                    <form method="post" action="@Url.Action("ToggleUsersInProject", "Main", new { projectId = Model.ProjectId, userId = Model.CurrentMembers[i].Id, operation = "Remove" })">
                        <a href="#" class="btn-manager">Remove</a>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>



<h4>Unassigned members:</h4>

<table class="manage-members-table table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Roles</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.AllUsers.Count(); i++)
        {
            <tr>
                <td>@Model.AllUsers[i].NameOfUser</td>
                <td>
                    @if (Model.AllUsers[i].Roles.Count() > 0)
                    {
                        var stringRoles = "";
                        for (var j = 0; j < Model.AllUsers[i].Roles.Count(); j++)
                        {
                            stringRoles += Model.AllUsers[i].Roles[j];
                            if (j != (Model.AllUsers[i].Roles.Count() - 1))
                            {
                                stringRoles += ",";
                                stringRoles += " ";
                            }
                        }
                        <span>@stringRoles</span>;
                    }
                </td>

                <td>
                    <form method="post" action="@Url.Action("ToggleUsersInProject", "Main", new { projectId = Model.ProjectId, userId = Model.AllUsers[i].Id, operation = "Add" })">
                        <a href="#" class="btn-manager">Add</a>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(function () {
        $(".btn-manager").on('click', function (e) {
            e.preventDefault();
            $(this).closest('form').submit();
        });
    });
</script>