@model List<IndexTicketViewModel>

@{
    ViewBag.Title = "AllTickets";
}

@section css {
    <link rel="stylesheet"
          href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
}

@section Scripts {
    <script type="text/javascript"
            src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tickets-table').DataTable();
        });
    </script>
}

<h2>All Tickets</h2>

<script>
    function writer(parameter) {
        document.write(parameter);
    }

    function extractor(suppliedList) {

        var data = JSON.parse(suppliedList);

        var p = "";
        for (var i = 0; i < data.length; i++) {
            p += data[i].NameOfUser;
            if (i < (data.length - 1)) {
                p += ","
            }
        }
        console.log(p + "ans");
        return p;
    }
    //writer(extractor());
</script>

@if (Model != null)
{
    <table id="tickets-table" class="table table-striped">
        <thead>
            <tr>
                <th>Project</th>
                <th>Title</th>
                <th>Assigned Developers</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Type</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Created By</th>
                <th></th>
                @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                {
                    <th></th>
                }
                @*<th></th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var element in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("DetailsOfProject", "Main", new { id = element.ProjectId })">@element.ProjectName</a>
                    </td>
                    <td>
                        <a href="@Url.Action("ViewTicket", "Tickets", new { id = element.Id })">
                            @element.TicketTitle
                        </a>
                    </td>
                    <td>
                        <script>
                          var model = '@Html.Raw(Json.Encode(element.TicketAssignees))';

                          writer(extractor(model));
                        </script>
                    </td>
                    <td>@element.DateCreated</td>
                    <td>@element.DateUpdated</td>
                    <td>@element.TicketType</td>
                    <td>@element.TicketPriority</td>
                    <td>@element.TicketStatus</td>
                    <td>@element.TicketOwner.NameOfUser</td>
                    <td>
                        @if (element.AvailableForUser == true)
                        {
                            <a href="@Url.Action("_EditTicket", "Tickets", new { ticketId = element.Id })">
                                Edit
                            </a>
                        }
                    </td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                    {
                        <td>
                            <a href="@Url.Action("ManageTicketMembers", "Tickets", new { ticketId = element.Id })">
                                Manage
                            </a>
                        </td>
                    }
                    @*<td>
                        @if(element.AvailableForUser == true && User.IsInRole("Admin"))
                        {
                            <form method="post" action="@Url.Action("DeleteTicket",             "Tickets", new { ticketId = element.Id })">
                                <a href="#" class="btn-delete" style="color:                            darkred">Delete</a>
                            </form>
                        }
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
}




@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(function () {
        $(".btn-delete").on('click', function (e) {
            e.preventDefault();
            $(this).closest('form').submit();
        });
    });
</script>*@